<html>

<head>
    <title></title>
    <link href="css/bulma.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="http://localhost:3000/">
                                Home
                            </a>
                            <a class="navbar-item" href="http://localhost:3000/category">
                                Expense
                            </a>
                            <a class="navbar-item" href="http://localhost:3000/category">
                                Category
                            </a>
                            <span class="navbar-item">
                                Download
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="notification">
            <div class="container">
                <div class="notification">
                    <div class="field">
                        <label class="label">Amount</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Amount" name="amount" id="amount">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Notes</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Notes" name="notes" id="notes"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success" name="tombol" id="tombol">
                                Submit Expens
                            </button>
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>id</th>
                                <th>Notes</th>
                                <th>category</th>
                                <th>amount</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th id="total"></th>
                            </tr>
                        </tfoot>
                        <tbody id="isi_tabel">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(function() {
            const socket = io.connect('http://localhost:3000/');
            const sendButton = $('#tombol');
            const amountInput = $('#amount');
            const notesInput = $('#notes');

            sendButton.click(() => {
                event.preventDefault();
                const amount = amountInput.val();
                const notes = notesInput.val();
                socket.emit('new_message', {
                    amount: amount,
                    notes: notes
                });
                console.log('klik tombol')
                location.reload(true);
            });

            socket.on('get_data', (data) => {
                for (let i = 0; i < data.length; i++) $("#isi_tabel").append($('<tr>')).append($('<th>').text(i + 1)).append($('</th>')).append($('<td>').text(data[i]._id)).append($('</td>')).append($('<td>').text(data[i].notes)).append($('</td>')).append($('<td>').text('category')).append($('</td>')).append($('<td>').text(data[i].amount));
            });
        });
    </script>
</body>

</html>